.header{
background-color: rgba(175, 220, 255, 1); 
width: 80%;
height: 100%;
margin: auto;
margin-top:0;
}
.Logo{
    position: absolute;
    width:12%;
    height: 14%;
    left: 12%;
}
h1 { 
color: rgba(255, 255, 255, 1); 
text-align:right; 
font-size: 40px; 
margin-right:5%;
} 
body { 
background: rgb(227, 237, 250); 
} 
button[name="add-button"]{ 
margin: 2%; 
margin-top: 0%;
width: 150px; 
height: 40px; 
} 
.footer{
    display: block;
    height: 100%; 
    width: 80%; 
    margin: auto; 
    margin-top:0px;
    margin-bottom: 0px;
    background-color: rgba(50, 100, 200, 1); 
}
.author-info{
    color: white;
    text-align: right;
    font-size: 20px;
    margin-right: 10px;
     margin: auto;
    margin-bottom: 5px;
    margin-top:0px;
}
.logout{
    position: relative;
    top: -35px;
    left: 5px;
    width:130px;
    height:60px; 
    margin: auto;
    margin-top: 25px;
    margin-bottom:0px;
}
.footer-info{
    margin: auto;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom:10px; 
    color: white;
    font-size: 20px;
}
.headgrid{ 
background-color: rgba(175, 220, 255, 1); 
height: 100%; 
width: 80%; 
margin: auto; 
margin-top:0;
margin-bottom: 0px;
} 
img[name="left"]{ 
width: 150px; 
height: 50px;
} 
img[name="right"]{ 
width: 150px; 
height: 50px; 
-moz-transform: rotate(180deg); 
-ms-transform: rotate(180deg); 
-webkit-transform: rotate(180deg); 
-o-transform: rotate(180deg); 
transform: rotate(180deg); 
} 
label[name="user-info"]{ 
display:block; 
text-align:center; 
font: 130% serif; 
color: rgba(55, 50, 100, 0.9); 
} 
.content{
  display: block;
  text-align: center;
  background-color: rgba(175, 220, 255, 1); 
  
}
.control-units a{
text-decoration: none;
}
.control-units{ 
text-align: center; 
overflow: auto;

}
.article-list-item-title{
  color: blue;  
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 30px;
  margin-bottom: 5px;
}
.article-list-item-meta{
    text-align: right;
    color: gray;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.item-tags{
  margin: 5px;
}
.item-author{
   margin: 5px;
}
.article-list-item-tags li{
  color: white;
  display: inline-block;
  margin:0 2px;
  background:  rgba(100, 150, 200, 1);
  border-radius: 5px;
}
.article-list-item-author{
  margin: 5px;
}
.article-list-item-date{
  margin: 5px;
}
.article-list-item-summary{
    font-family: Geneva, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
